<?xml version="1.0" encoding="utf-8"?>
<manifest package="su.secondthunder.scroball"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.android.vending.BILLING"/>

    <application
        android:name="su.secondthunder.scroball.ScroballApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="su.secondthunder.scroball.ui.SplashScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name="su.secondthunder.scroball.ListenerService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>
        <service android:name="su.secondthunder.scroball.LoveTrackService"/>

        <activity
            android:name="su.secondthunder.scroball.ui.LoginActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="scroball" android:host="authenticate" />
            </intent-filter>
        </activity>
        <activity
            android:name="su.secondthunder.scroball.ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="su.secondthunder.scroball.ui.prefs.ModernPreferenceActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="su.secondthunder.scroball.ui.MainActivity" />
        <activity
            android:name="su.secondthunder.scroball.ui.prefs.NotificationPreferenceActivity"
            android:label="@string/pref_header_notifications"
            android:parentActivityName="su.secondthunder.scroball.ui.prefs.ModernPreferenceActivity" />
        <activity
            android:name="su.secondthunder.scroball.ui.prefs.PlayerPreferenceActivity"
            android:label="@string/pref_header_players"
            android:parentActivityName="su.secondthunder.scroball.ui.prefs.ModernPreferenceActivity" />
    </application>

</manifest>
